.rooms-container {
    width: 100%;
    /* padding-left: 3.5rem;
    padding-right: 3.5rem;*/
}

.rooms-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom:1rem;
    margin-top:2rem;
}

.room-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    color: white;
    font-size: 2rem;
}
