.rooms-container {
    width: 100%;
    /* padding-left: 3.5rem;
    padding-right: 3.5rem;*/
}

.rooms-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
