.landing[b-7gt2111kuu] {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-direction:column;
    margin-bottom: 5rem;
    width:100%;
}

.firstCard[b-7gt2111kuu] {

    height: 25rem;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size: 1.7rem;
}



.card[b-7gt2111kuu] {

    background-color: white;
    padding: 20px;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid;
    border-radius: 20px;

}



.header[b-7gt2111kuu] {
    background-color: #BD3838;
    color: white;
    width: 100%;
    height: 2rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding-left: 0rem;
}

.header :first-of-type[b-7gt2111kuu] {
    margin-top: 0rem;
}

    .header h1[b-7gt2111kuu] {
        margin-left: 3.5rem;
    }

