<link rel="stylesheet" href="/css/Switcher.css" />

<div class="rooms-container" >
<div class="rooms-list" >
	
		<Room @bind-ChosenRoomID="ChosenRoomID" RoomNumber="1" MaxCapacity="5" />
		<Room @bind-ChosenRoomID="ChosenRoomID" RoomNumber="2" MaxCapacity="2" />
		<Room @bind-ChosenRoomID="ChosenRoomID" RoomNumber="3" MaxCapacity="2" />

</div >

<div class="switcher">
		@if (ChosenRoomID !=0)
		{
			@* <div class="half"> *@
				<p>Выбрана комната №@ChosenRoomID</p>
			@* </div> *@
			
			<div class="buttons">
				@ChildContent
			</div>
			
		}

		
	</div>
</div >


@code {

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	public int ChosenRoomID { get; set; } 

	
	}


