@inherits LayoutComponentBase

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Jomhuria&display=swap" rel="stylesheet">

<link rel="icon" href="Images/Logo.png" type="image/x-icon">
<link rel="stylesheet" href="/css/GenericButton.css" />
<link rel="stylesheet" href="/css/Switcher.css" />

<div class="navbar">
    <ul>
        <a @onclick="()=>GoHome()"href="/">
        <li  class="navbar-logo">Discotheque</li>
        </a>
        @* <li><a href="/">Главная</a></li>
        <li><a href="contacts">Контакты</a></li> *@
    </ul>
</div>
<div >
    
    @Body
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    [Inject]
    CurrentBooking currentBooking { get; set; }

    private void GoHome()
    {
        currentBooking.ResetData();
    }
}