td, th {
    border: 1px solid #dddddd;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

th {
    background-color: #BD3838;
    width:3rem;
    
}

.cal {
    background-color: black;
    color: white;
    margin-bottom: 3rem;
}

.unavailable-date{
    background-color: #282626;
    cursor: not-allowed;
    

}

.available-date {
    background-color:white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    td, th {
        border: 1px solid #dddddd;
        padding: .8rem 0.3rem;
        font-size: .85rem;
    }

}