<div class="calendar-card">

<div class="info">Доступные даты для комнаты № @roomNumber</div>

<Calendar @bind-ChosenDate="ChosenDate"/>

	<div class="switcher">
		

		

		@if (ChosenDate != DateOnly.MinValue)
		{
			
			
			<p>Выбрана дата: @ChosenDate</p>
			
			@* <div class="quarter button-div">
				@RightButton
			</div> *@
		}
		<div class="buttons">
			@LeftButton
			@if (ChosenDate != DateOnly.MinValue)
			{
				
					@RightButton
				
			}
		</div>


	</div>

</div>

@code {
	[Inject]
	CurrentBooking currentBooking { get; set; }


	public DateOnly ChosenDate { get; set; }

	[Parameter]
	public int roomNumber { get; set; } 

	protected override async Task OnInitializedAsync()
	{

		roomNumber = currentBooking.RoomNumber;
		
	}

	[Parameter]
	public RenderFragment? LeftButton { get; set; }
	[Parameter]
	public RenderFragment? RightButton { get; set; }

}
