.switcher {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    color: white;
    font-size: 2rem;
    flex-wrap: wrap;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    width: 100%;
    flex-direction: row;
    flex:1;
}

/*.switcher p  {*/

/*margin: 0rem 7rem;*/
/*margin-top: 2rem;
        margin-bottom: 2rem;auto
    }*/

.half {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    margin: 1rem 0rem;
}

.switcher p {
    margin: 0rem 6rem;
    width: 100%;
}



.buttons {
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: row;
}




.switcher button {
    background-color: #BD3838;
    color: white;
    font-size: 2rem;
    padding: 10px 40px;
    margin: 1rem 1rem;
}

    .switcher button:hover {
        transform: scale(1.1);
    }


@media screen and (max-width:900px) {
    .switcher {
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

        .switcher p {
            margin: 0rem 2rem;
            width:100%;
        }

    .buttons {
        width:80%;
        
    }
}


