

<link href="css/GenericButton.css" rel="stylesheet" />

<button @onclick="Click">

	@ChildContent

</button>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	void Click()
	{
		Console.WriteLine("Button pressed");
	}
}

