@page "/"

<PageTitle>Discotheque</PageTitle>


@* <link rel="stylesheet" href="/css/GenericButton.css" />
<link rel="stylesheet" href="/css/Switcher.css" /> *@
@if (bookingCompleted)
{
	<div class="confirmation">
		<p>Мы сохранили вашу бронь на @date 🥳</p>
	</div>
}

<div class="welcome">
	<h1>
		 Забронируйте комнату за несколько кликов
	</h1>
	<a href="/newReservation">

	<button >Начать</button>
	</a>
</div>

@code {

	public bool bookingCompleted { get; set; } = false;

	[Inject]
	CurrentBooking currentBooking { get; set; }

	string date = ""; 

	protected override async Task OnInitializedAsync()
	{
		bookingCompleted = currentBooking.Complete;
		if (bookingCompleted){
			date = currentBooking.Date;
			currentBooking.ResetData();
		}
	}
}
