
@page "/"
@inherits LayoutComponentBase
@rendermode InteractiveServer


<PageTitle>Караоке</PageTitle>
<link rel="stylesheet" href="/css/GenericButton.css" />

<div class="landing">
		

	@* <div class="firstCard">
		
		<h1>Караоке "Название"</h1>

		 <StartButton>Забронировать</StartButton>

	</div> *@

	<div class="header">
		<h1>1. Выберите комнату</h1>
	</div>

	<RoomCard/>
	
	<div class="header">
		<h1>2. Выберите дату</h1>
	</div>
	
	<CalendarCard/>

	<div class="header">
		<h1>3. Выберите время резервации</h1>
	</div>

	<TimeChoiceCard/>

</div>



@code {
	private int curCount = 1;
	private void IncrementCount()
	{
		curCount++;
	}



	
}
